<!-- <app-navbar></app-navbar> -->

<div class="mycontainer">
  <div class="wrapper">
    <!-------header start here-->
    <div class="header">
      <div class="header-inner">
        <div class="logo">
          <button class="home" [routerLink]="['']">Home</button>
        </div>
      </div>
    </div>
    <!---------header end here-->

    <!-------login box-->
    <div class="login-box-outer" style="margin-top: 90px;">
      <div class="login-box-inner">
        <h1>Sign in</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <div class="input-wrap">
            <input type="text" name="email" placeholder="Email" [(ngModel)]="form.email" required>
          </div>
          <div class="input-wrap">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
          </div>
          <div class="input-wrap">
            <button [disabled]="!loginForm.valid">Sign in</button>
          </div>
          <div class="remember-help">
            <div class="remember">
              <span><input type="checkbox" name=""></span>
              <span style="padding-left: 5px;">Remember me</span>
            </div>
            <div class="need-help">Need help?</div>
          </div>
          <div class="terms">
            <p>By clicking on 'Sign In', you agree to our<a [routerLink]="['/terms']"> Terms and Conditions</a>
            </p>
          </div>
        </form>
      </div>

    </div>
    <!---------login box end here-->
  </div>

</div>
