<!-- BEGIN NAVBAR -->
<app-navbar></app-navbar>
<!-- END NAVBAR -->

<!--Terms & conditions--->

<section class="we-offer-area text-center bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2 style="font-size: 40px;">T&<span>CS</span></h2>
          <div class="cspt-breadcrumb">
            <div class="cspt-breadcrumb-inner">
              <span><a title="Go to Home." [routerLink]="['']" class="home"><span>Home</span></a></span>
              &gt;
              <span class="post post-page current-item">Terms & Conditions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row terms-and-conditions-section">
    <div class="col-xs-12 text-center">
      <!-- <h2>Terms & Conditions</h2> -->
    </div>

    <div class="col-xs-12">
      <div class="content">

        <div class="section">
          <h2 class="section-title">1. Survey and Questions</h2>
          <p>
            1.1. Offip clients agree that no offensive questions will be used in the questions submitted.
          </p>
          <p>
            1.2. We do not tolerate any abuse or illegal questions supplied to us and in this case legal action maybe
            taken.
          </p>
        </div>

        <div class="section">
          <h2 class="section-title">2. Product</h2>
          <p>
            2.1. Any product the client wishes to upload can only be done after contract and payment has been paid and
            cleared.
          </p>

        </div>

        <div class="section">
          <h2 class="section-title">3. Password and Accounts</h2>
          <p>
            3.1. The clients login details will be supplied to the person responsible and if the client gives the
            information
            out to anyone, offip is not responsible for any products that were not intended to go out.
          </p>
          <p>
            3.2. You are responsible for the security of your passwords and for any use of your account. You may not
            allow
            multiple people to use the same account.
          </p>
          <p>
            3.3. If you feel like someone may have access to your information please contact us immediately.
          </p>
        </div>

        <div class="section">
          <h2 class="section-title">4. Payment and Subscription</h2>
          <p>
            4.1. If the client does miss a payment, they will have 14 days to make that payment else they registration
            number will be blocked and offip will require the client to re-register in order to carry on the agreement
            with the missed payment and new registeration fees paid upfront.
          </p>
        </div>

        <div class="section">
          <h2 class="section-title">5. Customer Data</h2>
          <p>
            5.1. We follow all law and regulations when it comes to clients privacy.
          </p>
        </div>

        <div class="section">
          <h2 class="section-title">6. Technical Support</h2>
          <p>
            6.1. If any issues with our system does turn up, please contact us for further assistance.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<!--end of terms---->

<!------START FOOTER-->

<app-footer></app-footer>

<!------END FOOTER-->
