section {
  padding: 3em 2em;
}

.section-service {
  display: grid;
  place-items: center;
  background-color: #f9f9f9;
}

.bg-gray {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/header-bg.jpeg) !important;
  background-color: transparent;
  min-height: 360px;
}

.site-heading h2 {
  font-family: Rajdhani, sans-serif;
  font-size: 30px;
  line-height: 70px;
  letter-spacing: 0;
  color: #fff;
  text-transform: none;
  font-weight: 700;
  font-style: normal;
}

.cspt-breadcrumb,
.cspt-breadcrumb a {
  font-family: Rajdhani, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

.site-heading h2 span {
  color: var(--main-color);
}

.site-heading p {
  font-family: Rajdhani, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #525558;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.container-fluid {
  padding-left: 50px;
  background: #f5f5f5;
}

.text-center {
  padding: 30px;
}

.content {
  padding-bottom: 30px;
}

.section h2 {
  font-size: 14px;
  font-weight: 500;
}

.section p {
  color: #414042;
  padding-left: 20px;
  font-size: 13px;
}
