/*about us*/
section {
  padding: 3em 2em;
}

.section-service {
  display: grid;
  place-items: center;
  background-color: #f9f9f9;
}

.bg-gray {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/header-bg.jpeg) !important;
  background-color: transparent;
  min-height: 360px;
}

.site-heading h2 {
  font-family: Rajdhani, sans-serif;
  font-size: 30px;
  line-height: 70px;
  letter-spacing: 0;
  color: #fff;
  text-transform: none;
  font-weight: 700;
  font-style: normal;
}

.cspt-breadcrumb,
.cspt-breadcrumb a {
  font-family: Rajdhani, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

.site-heading h2 span {
  color: var(--main-color);
}

.site-heading p {
  font-family: Rajdhani, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #525558;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, var(--main-color) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
  margin: 1em 0;
}

p {
  color: #434343;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper {
  background-color: var(--main-color);
  position: absolute;
  margin: auto;
  font-size: 20px;
  height: 2.5em;
  width: 2.5em;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
}

.card:hover .icon-wrapper {
  background-color: #fff;
  color: var(--main-color);
}

.card:hover h3 {
  color: #fff;
}

.card:hover p {
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  setcion {
    padding: 0 2em;
  }

  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  setcion {
    padding: 1em 3em;
  }

  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
