<!-- BEGIN NAVBAR -->
<app-navbar></app-navbar>
<!-- END NAVBAR -->

<!----ABOUT US-->

<section class="we-offer-area text-center bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2 style="font-size: 40px;">About <span>Us</span></h2>
          <div class="cspt-breadcrumb">
            <div class="cspt-breadcrumb-inner">
              <span><a title="Go to Home." [routerLink]="['']" class="home"><span>Home</span></a></span>
              &gt;
              <span class="post post-page current-item">About Us</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-service">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2><span>Who Are We</span></h2>
          <p>Offip (pty) ltd is the latest way to help your business grow & improve to its full potential.</p>
          <p>we offer all the digital marketing requirements you may need.</p>
          <p>Take a look at our services below:</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- <h2 class="section-heading">
      Our Services
    </h2> -->
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <!-- <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div> -->
        <h3>Market Research & Data Analysis</h3>
        <p>
          we offer all our clients the opportunity to explore the options to improve and find out what the current
          market is requiring. We send out vitual surveys that are quick and easy to create and our systems offer a
          great response time. After we collect the data from the surveys, our in-house statistians work one a
          comprehensive data and risk analysis report explaining our findings, conclusions and recommendations as well
          as a logistic report.
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <!-- <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div> -->
        <h3>Social Media Marketing & Management</h3>
        <p>
          A lot of start-up companies struggle to receive new business and usually close down within the first 12
          months, that is why they call it “survival year”. We want to help those companies avoid closure and rather
          help them to drive in more clients and receive more recognition for their products and services.We do this by
          promoting and advertising on all social media platforms and seo options.
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <!-- <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div> -->
        <h3>Web & Application Development</h3>
        <p>
          Some clients may request development with creating a website or app for their business. The world is moving
          more towards online and apps nowadays. At offip we will help you stay up to date with the latest ways to do
          business.
        </p>
      </div>
    </div>
  </div>
</section>

<!----END ABOUT US-->

<!------START FOOTER-->

<app-footer></app-footer>

<!------END FOOTER-->
