<body>
  <div class="alert">
    {{done}}
  </div>
  <div>
    <div class="container">
      <div id="quiz" class="justify-center flex-column" *ngFor="let qns of question">
        <h2 id="question">Q.{{qns.questionNo}} {{qns.question}}</h2>
        <div class="choice-container">
          <label class="radio">
            <input type="radio" name="choice" value="1" [(ngModel)]='form.choice' required>
            <span class="choice-text">Unacceptable</span>
          </label>
        </div>
        <div class="choice-container">
          <label class="radio">
            <input type="radio" name="choice" value="2" [(ngModel)]='form.choice' required>
            <span class="choice-text">Poor</span>
          </label>
        </div>
        <div class="choice-container">
          <label class="radio">
            <input type="radio" name="choice" value="3" [(ngModel)]='form.choice' required>
            <span class="choice-text">Acceptable</span>
          </label>
        </div>
        <div class="choice-container">
          <label class="radio">
            <input type="radio" name="choice" value="4" [(ngModel)]='form.choice' required>
            <span class="choice-text">Very good</span>
          </label>
        </div>
        <div class="choice-container">
          <label class="radio">
            <input type="radio" name="choice" value="5" [(ngModel)]='form.choice' required>
            <span class="choice-text">Excellent</span>
          </label>
        </div>
        <button (click)="onSubmit(qns.questionNo, qns.question)"
          [routerLink]="['/take-survey', surveyName, qns.next]">Submit</button>
      </div>
    </div>
  </div>
</body>
