h2, h3 {
  color: #000;
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
}

.container {
  margin-top: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  justify-content: center;
}

.hidden {
  display: none;
}

.alert {
  font-weight: 500;
  text-align: center;
  font-size: 23px;
  height: 100px;
  line-height: 300px;
  text-align: center;
  color: var(--main-color);
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgb(255 255 255 / 60%) 0px 0px 0px 1px inset;
  color: rgb(0, 0, 0);
  max-width: 100%;
  min-width: 75px;
  min-height: 40px;
  outline: 0px;
  transition-duration: 0.1s;
}

.radio {
  padding: 0.5rem 1.5rem;
}

.choice-text {
  padding: 0.8rem;
}

button {
  border-radius: 4px;
  background: var(--main-color);
  color: #fff;
  border: none;
  height: 40px;
}
