<app-sidebar></app-sidebar>
<div class="main-content">

  <header>
    <div class="search-wrapper">
      <span class="ti-search"></span>
      <input type="search" placeholder="Search">
    </div>

    <div class="social-icons">
      <span class="ti-bell"></span>
      <span class="ti-comment"></span>
      <div class="dropdown">
        <img src="assets/img.jpeg" alt="No pic">
        <div class="dropdown-content">
          <ul class="menu">
            <li><a [routerLink]="['/account']">Account</a></li>
            <li> <a (click)="logout($event)" style="cursor: pointer;">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>
    <h2 class="dash-title">Draft Survey</h2>
  </main>

</div>
