<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <p>OFFIP is an automatic opportunity filter making it easier and more convenient for a business to get the right
          market research and have less risks with the intended product they wish to launch.</p>
      </div>
      <div class="footer-col">
        <h4>links</h4>
        <ul>
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
          <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Services</h4>
        <ul>
          <li><a [routerLink]="['/about']">Digital Marketing Service</a></li>
          <li><a [routerLink]="['/about']">Web & Application Development</a></li>
          <li><a [routerLink]="['/about']">Market Research & Data Analysis</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/OFFIP-Pty-Ltd-111376158081933/"><i class="fab fa-facebook-f"></i></a>
          <!-- <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a> -->
          <a href="https://www.linkedin.com/company/offip-pty-ltd/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="float-sm">
      <h5>©
        <script>document.write(new Date().getFullYear());</script>2022 Offip All Rights Reserved.
      </h5>
    </div>
  </div>
</footer>
