.testimonials {
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: var(--main-color);
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
}

.testimonial:hover {
  background-position: 0 100%;
  background: var(--main-color);

  .name {
    color: #fff;
  }

  p {
    color: #f0f0f0;
  }

  .img {
    background: transparent;
  }
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial p {
  text-align: left;
}

.name {
  font-size: 20px;
  margin: 20px 0;
}

.d-none {
  display: block !important;
}

@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 602px) {
  .carousel-item {
    background: no-repeat scroll center scroll;
    --webkit-background-size: cover;
    background-size: cover;
  }

  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }

  .carousel-caption {
    bottom: 270px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .carousel-caption p {
    font-weight: 500;
    font-size: 18px;
  }
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .carousel-item {
    background: no-repeat scroll center scroll;
    --webkit-background-size: cover;
    background-size: cover;
  }

  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }

  .carousel-caption {
    bottom: 70px;
  }

  .carousel-caption p {
    font-weight: 400;
    font-size: 15px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    --webkit-background-size: cover;
    background-size: cover;
  }

  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }

  .carousel-caption {
    bottom: 340px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .carousel-caption p {
    font-weight: 600;
    font-size: 21px;
  }
}
