<!-- BEGIN NAVBAR -->
<app-navbar></app-navbar>
<!-- END NAVBAR -->

<!-- CAROUSEL START -->

<carousel>
  <slide>
    <img src="assets/img2.jpeg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <p>Making Market Research Consumer Friendly.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img3.jpeg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <p>Helping Your Business With More Effective Results.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img6.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <p>A Better Way To Do Your Market Research.</p>
    </div>
  </slide>
</carousel>

<!--CAROUSEL END -->

<!----START TESTIMONIALS-->

<div class="testimonials">
  <div class="inner">
    <h1>Testimonials</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="assets/img.jpeg" alt="No image">
          <div class="name">CEO Of Kidz4Success</div>
          <div class="stars">

          </div>
          <p>
            I found OFFIP to be very cost effective for my business, which played a massive role to me.
            Their strategies and effort lead to the growth of my business.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/img.jpeg" alt="No image">
          <div class="name">Director of I-Throttle</div>
          <div class="stars">

          </div>
          <p>
            OFFIP is such a clever programme that can virtually be used for any research product in a company;
            we used it to plan our promotions when we launched.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/img.jpeg" alt="No image">
          <div class="name">Dr VGA Micali</div>
          <div class="stars">

          </div>
          <p>
            Fresh and Progressive Initiative for exceptional entrepreneurs that helped me see more options with my
            business services.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<!----END TESTIMONIALS-->

<!------START FOOTER-->

<app-footer></app-footer>

<!------END FOOTER-->
