<app-sidebar></app-sidebar>
<div class="main-content">

  <header>
    <div class="search-wrapper">
      <!-- <span class="ti-search"></span>
      <input type="search" placeholder="Search"> -->
    </div>

    <div class="social-icons">
      <!-- <span class="ti-bell"></span>
      <span class="ti-comment"></span> -->
      <div class="dropdown" *ngFor="let profile of pic">
        <img src="https://offip.co.za/Backend{{profile.image}}" alt="No pic">
        <div class="dropdown-content">
          <ul class="menu">
            <li>
              <a>
                <span class="ti-user"></span>
                <span>{{username}}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/account']">
                <span class="ti-settings"></span>
                <span>Account</span>
              </a>
            </li>
            <li>
              <a (click)="logout($event)" style="cursor: pointer;">
                <span class="ti-power-off"></span>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>
    <h2 class="dash-title">Survey: {{surveyName}}</h2>

    <section class="recent">
      <!-- Editable table -->
      <div class="card">
        <div class="card-body">
          <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#addUser" class="text-success" data-toggle="modal">
                <i class="fas fa-plus fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Create Question
            </span>
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#editUser" class="text-warning" data-toggle="modal">
                <i class="fas fa-edit fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Edit Question
            </span>
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#inviteUser" class="text-success" data-toggle="modal">
                <i class="fas fa-user-plus fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Invite Users
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                <tr>
                  <th class="text-center">Question Number</th>
                  <th class="text-center">Question</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <!-- This is our clonable table line -->
                <tr *ngFor="let question of questions">
                  <td class="pt-3-half" contenteditable="true">{{question?.questionNo}}</td>
                  <td class="pt-3-half" contenteditable="true">{{question?.question}}</td>
                  <td>
                    <span class="table-remove">
                      <a href="#deleteUser" data-toggle="modal">
                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                          (click)="deleteQuestion(surveyName, question?.questionNo)">
                          <i class="material-icons" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></i>
                        </button>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="clearfix">
              <div class="hint-text">Showing <b>2</b> out of <b>25</b> entries</div>
              <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Editable table -->

      <!-- Edit Modal HTML -->
      <div id="editUser" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #AddQuestionForm=ngForm>
              <div class="modal-header">
                <h4 class="modal-title">Edit Survey Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Select Question Number</label>
                  <input list="edit" name="questionNo" class="form-control" [(ngModel)]="form.questionNo" required>
                  <datalist id="edit">
                    <option *ngFor="let question of questions">{{question.questionNo}} </option>
                  </datalist>
                </div>
                <div class="form-group">
                  <label>Edited Question</label>
                  <textarea name="editedQuestion" class="form-control" placeholder="Question"
                    [(ngModel)]="form.editedQuestion" required></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add" [disabled]="!AddQuestionForm.valid"
                  id="adduser" (click)="onEdit()">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Edit Modal HTML -->
      <div id="addUser" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content" *ngFor="let lastQuestion of question">
            <form #AddQuestionForm=ngForm>
              <div class="modal-header">
                <h4 class="modal-title">Create Survey Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Question Number</label>
                  <input readonly type="number" name="questionNo" value="" class="form-control"
                    placeholder="{{lastQuestion.questionNo + 1}}">
                </div>
                <div class="form-group">
                  <label>Question</label>
                  <textarea name="question" class="form-control" placeholder="Question" [(ngModel)]="form.question"
                    required></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add" [disabled]="!AddQuestionForm.valid"
                  id="adduser" (click)="onSubmit(lastQuestion.questionNo + 1)">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Invte Modal HTML -->
      <div id="inviteUser" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #InviteUserForm=ngForm (ngSubmit)="onInvite()">
              <div class="modal-header">
                <h4 class="modal-title">Invite Users To Answer Survey</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="form.name" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" name="email" class="form-control" [(ngModel)]="form.email" required>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Invite" [disabled]="!InviteUserForm.valid"
                  id="adduser">
              </div>
            </form>
          </div>
        </div>
      </div>


      <!-- Delete Modal HTML -->
      <div id="deleteUser" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>User Successfuly deleted?</p>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="ok" id="delete">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </main>

</div>
