.bg-light {
  background-color: #ffffff !important;
}

.header {
  position: relative;
  z-index: 9;
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .logo img {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 602px) {
  .logo img {
    width: 80px;
    height: 60%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .logo img {
    width: 90px;
    height: 60%;
  }
}
