<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <!-------header start here-->
    <div class="header">
      <div class="header-inner">
        <div class="logo">
          <img src="assets/Logot.png" alt="OFFIP">
        </div>
      </div>
    </div>
    <!---------header end here-->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <!-- ml-auto still works just fine-->
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" [routerLink]="['']">Home</a>
        <a class="nav-link active" [routerLink]="['/login']">Login</a>
        <a class="nav-link active" [routerLink]="['/about']">About Us</a>
        <a class="nav-link active" [routerLink]="['/contact']">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
